<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      ESTACIONAMIENTO
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('../../assets/imgs/ESTACIONA.jpg'); background-size: cover; background-repeat: no-repeat;margin-bottom: 0px;">
  <ion-content class="card-background-page" style="background-color: rgb(255,255,255,0.7);height: 70vh;">
      <ion-card style="box-shadow: 0px 0px 10px red;">
        <img src="../../assets/imgs/ESTACIONAMIENTO2.png" style="height: 50vh;"/>
        <div class="card-title">FIM - UAS</div>
        <!--CAJON 0-->
        <div class="cuadro" *ngIf="park0 == 'b'"></div> <!--CAJON ROJO-->
        <div class="cuadro1" *ngIf="park0 == 'f'"></div> <!--CAJON VERDE-->
        <!--CAJON 1-->
        <div class="cuadro3" *ngIf="park1 == 'f'"></div> <!--CAJON VERDE-->
        <div class="cuadro4" *ngIf="park1 == 'b'"></div> <!--CAJON ROJO-->

        <!--IGNORAR CAJONES-->
        <div class="cuadro2"></div>
        <div class="cuadro5"></div>

        <div class="cuadro6"></div>
        <div class="cuadro7"></div>
        <div class="cuadro8"></div>
        <div class="cuadro9"></div>
        <div class="cuadro10"></div>
        <div class="cuadro11"></div>
        <div class="cuadro12"></div>
        <div class="cuadro13"></div>
        <div class="cuadro15"></div>
        <div class="cuadro16"></div>
        <div class="cuadro17"></div>
        <div class="cuadro18"></div>
        <div class="cuadro19"></div>
        <div class="cuadro20"></div>
        <div class="cuadro21"></div>
        <div class="cuadro22"></div>
        <div class="cuadro23">MANTENIMIENTO</div>

      </ion-card>
      <div class="flex">
        <div class="card-subtitle"><small>Disponibles - </small><ion-badge item-end style="font-size: 12pt;background-color: darkgreen;">{{numFree}}</ion-badge></div>
        <div class="card-subtitle2"><small>Ocupados - </small><ion-badge item-end style="font-size: 12pt;background-color: darkred;">{{numBusy}}</ion-badge></div>
      </div>
  </ion-content>
